$primary: #0698d7;
$secondary: rgb(177, 2, 204);
$dark:#18546D;
$black:  #131415;
$tertiary: #3ffc3b;
$bluelight: #94dbfa;
$font-family-sans-serif: "Montserrat", sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";