$primary: #0698d7;
$secondary: #3ffc3b;
$dark:#18546D;
$black:  #131415;
$tertiary: rgb(177, 2, 204);
$font-family-sans-serif: "Montserrat", sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";